* {
  box-sizing: border-box;
}
body {
  background-color: #9400D3;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.fixed-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 9, 173, 0.711);
  display: none;
  align-items: center;
  justify-content: center;
}

#open {
  font-size: 20px;
  padding: 5px;
}

@media (max-width: 600px) {
  .pop-block {
    width: 90%;
  }
}
